<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/front-end/src/index.html">
    <link rel="icon" type="image/png" href="/front-end/src/favicon.png" />
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Veterinapp</a>
        </div>
        <ul class="nav navbar-nav">
                <li class="active"><a href="/front-end/src/app/components/home-component/home.html">Inicio</a></li>
                <li><a href="/front-end/src/app/components/veterinarians-component/veterinarians.html">Veterinarios</a></li>
                <li><a href="/front-end/src/app/components/specialties-component/specialties.html">Especialidades</a></li>
            <li class="active"><a href="/front-end/src/app/components/about-component/about.html">Acerca de</a></li>
        </ul>
    </div>
</nav>

<section class="margin">
    <h3>Esta aplicacion se encuentra realizada para su uso exclusivamente academico con el objetivo del Trabajo Practico
        Integrador para la asignatura
        Programacion de Aplicaciones Visuales 2</h3>
    <h3>Unidad 1: Introducción a las aplicaciones Web y HTML5</h3>
    <p>Resultados de Aprendizaje: Comprender el funcionamiento de una aplicación web, la arquitectura de hardware
        y software necesarios para la publicaciones de aplicaciones y servicios web, tecnologías utilizadas en entorno
        de
        servidor y de equipo del cliente. Además se busca visualizar por parte del alumno el funcionamiento del
        protocolo HTTP, cómo se compone un documento HTML, y que aprenda a elaborar páginas web y formularios
        utilizando HTML5.</p>
    <h3>Unidad 2: Diseño del frontend con CSS3 y Bootstrap</h3>
    <p>Resultados de Aprendizaje: Adquirir las competencias necesarias para poder construir y modificar la apariencia
        de los documentos html que constituyen la interfaz gráfica de una aplicación web utilizando el estándar CSS3 y
        Bootstrap</p>
    <h3>Unidad 3: Javascript y JQuery</h3>
    <p>Resultados de Aprendizaje: Adquirir el conocimiento y las habilidades necesarias para poder incorporar
        comportamiento en el front end programando del lado del cliente con el lenguaje Javascript (estándar
        ECMAScript) y el framework JQuery para la realización de páginas web dinámicas.</p>
    <h3>Unidad 4: AngularJS</h3>
    <p>Objetivo: Adquirir conocimientos y técnicas necesarias para el desarrollo de aplicaciones web con el patrón
        MVC del lado del cliente utilizando el framework AngularJS.</p>
    <h3>Unidad 6: Acceso a datos con Entity Framework y LINQ</h3>
    <p>Resultados de Aprendizaje: Comprender las características y ventajas que ofrece Entity Framework para
        agilizar el desarrollo del código de acceso a datos. Desarrollar las habilidades necesarias para utilizar EF y
        LINQ
        para acceder y modificar datos almacenados en una base de datos.</p>
    <h3>
        Unidad 7: Implementando el backend con WebApi
    </h3>
    <p>Resultados de Aprendizaje: Adquirir las habilidades para desarrollar servicios web basados en el standard
        WebApi orientado a integrar el front end de una aplicación web con el back end desarrollado en un entorno .NET.
    </p>
</section>

</html>